/*#topRow {
  background-color: red;
}*/

.row {
  border: 1px solid;
  height: 200px;
}

.row h1 {
  padding-top: 15%;
}

.ticTacToe {
  height: 200px;
  /*width: 200px;*/
}

.hiddenDiv {
  display: none;
}
